header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.main-header {
    background: #ffffff;
    min-height: 60px;
    border-radius: 0px;
}

.menu-links li:nth-child(2) a:before,
.menu-links li:nth-child(3) a:before {
    content: "|";
    color: #999;
    padding-right: 15px;
    font-size: 22px;
    font-weight: 300;
}

.menu-links li a {
    padding: 25px 10px;
}

.navbar-default .navbar-nav .menu-links>.active>a,
.navbar-default .navbar-nav .menu-links>.active>a:focus,
.navbar-default .navbar-nav .menu-links>.active>a:hover {
    color: #555;
    background-color: none;
}

.menu-links li a i {
    color: #999999;
    font-size: 18px;
    margin: 0;
}

.menu-links li.active a i {
    color: rgba(229, 23, 55, 0.8);
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background: none;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background: none;
}

.profile-info {
    float: right;
}

.profile-info.open a,
.profile-info.open a:focus {
    background: transparent;
}

a.dropdown-toggle {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

.profile-info ul.dropdown-menu li a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.profile-info .username,
.profile-info .user-avatar {
    display: block;
    margin-right: 8px;
    width: auto;
}

.username {
    width: 200px;
    text-align: right;
    vertical-align: middle;
    float: right;
    padding: 5px 10px 18px 10px;
}

.username a {
    padding: 0;
}

.username span {
    display: block;
    text-align: right;
    font-size: 12px;
    color: #676767;
}

.profile-info ul.dropdown-menu li a:before {
    display: none;
}