.policy-list-wrapper {
    background: #f2f2f2;
    padding: 30px 0px;
}

.policy-wrapper h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Prompt;
    color: #848383;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    padding-left: 8px;
}

.item-list {
    width: 100%;
    float: left;
    display: block;
}

.item-list>li {
    border: 1px solid #c1c1c1;
    padding: 0;
    background: #fff;
    margin-bottom: 15px;
    line-height: 0;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}


.item-list>li:hover {
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -o-transform: scale(1.01);
    -moz-transform: scale(1.01);
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .1);
}

.description-wrapper {
    padding: 15px;
}

.icon-3x {
    font-size: 2.5em;
}

.home-icon {
    color: #999;
    vertical-align: middle;
    text-align: center;
    margin-right: 0;
    height: 36px;
    width: 36px;
}

.img-policybox,
.insu-policy-description {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.img-policybox {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #999999;
    box-sizing: border-box;
    background-color: rgba(229, 22, 54, 0);
    padding: 10px;
}

.policy-images-wrapper {
    position: relative;
    line-height: 0;
}

.like-box {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    width: 26px;
    height: 26px;
    padding: 6px;
    color: #e51637;
}

.policy-img {
    height: 100%;
}

.insu-policy-description {
    padding: 0 15px;
}

.insu-policy-description h2 {
    margin-top: 0px;
    margin-bottom: 5px;
    color: #e51636;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    line-height: 20px;
}

.short-info {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 6px;
    line-height: 16px;
}

.short-desc {
    padding: 8px 15px 8px 0px;
    width: 80%;
    float: left;
    color: #666666;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 5px;
}

.facilities-listing>li,
.cover-listing>li {
    padding: 5px 22px 5px 22px;
    width: auto;
    vertical-align: top;
    border: transparent;
    border-right: 1px solid rgba(144, 138, 138, 0.6);
    display: inline-block;
    text-align: left;
    line-height: 14px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.cover-listing>li {
    border: none;
}

.facilities-listing li:hover,
.cover-listing>li:hover {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.facilities-listing li:first-child {
    padding-left: 5px;
}

.facilities-listing li:last-child {
    border-right: none;
}

.listed-cover{
    margin-top: 20px;
}
.facilities-listing li label,
.cover-listing li label {
    font-family: 'Prompt', sans-serif;
    color: #111111;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    padding: 5px 0;
}

.facilities-listing li span,
.cover-listing li span {
    display: block;
    font-family: 'Prompt', sans-serif;
    color: #666666;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
}

/* Covers list css */
.cover-listing li span.badge {
    padding: 5px 12px;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1;
}

.cover-listing li span.badge.badge-primary {
    background-color: #e51636;
    border-color: #e51636;
}

.filter-cover-btn{
    margin-top:-7px;
}


#priortyModal {
    top: 25%;
}

.common-price-box {
    box-sizing: border-box;
    background-color: rgba(25, 162, 10, 0.02);
    width: 210px;
    height: 80px;
    margin: 15px 0;
    float: left;
}

.corporate-price {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #1da60d;
}

.greenbg {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background: #1da60d;
}

.rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    /* Should be unset in IE9+ I think. */
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
    float: left;
}

.box-title {
    position: relative;
    padding: 8px 0px;
    padding-left: 50px;
}

.price-tag {
    position: absolute;
    height: 80px;
    width: 38px;
    top: 0;
    left: 0;
    bottom: 0;
}

.corporate-price .price-tag p {
    position: absolute;
    left: -10px;
    bottom: 15px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.corporate-price h1 {
    font-family: Prompt;
    font-size: 26px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 0px;
}

.corporate-price span {
    font-family: Prompt;
    color: #2d2c2c;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.corporate-price .fa,
.corporate-price .aed {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.8px;
    color: #189e09;
}

.alert-text {
    color: #e51636;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}

.text-green {
    color: #189e09;
}

/************************/


/******Priorty Modal css*************/

#priortyModal .modal-dialog {
    width: 500px;
    margin: 30px auto;
}

.greet-text {
    color: #e51636;
    font-size: 24px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
}

.modal-content {
    border-radius: 3px;
}

.priorty-modal-content p {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
}

.modal-footer .btn {
    margin-bottom: 10px;
}

.modal-footer .btn+.btn {
    margin-bottom: 10px;
    margin-left: 0px;
}


/*****Priority section css ***********/

.priority-selection {
    background: #dbdedf;
    padding: 30px 0;
    height: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1046;
}

.media-object {
    height: 62px;
    width: 62px;
}

.priorty-widget-box {
    padding: 0;
    /*padding-right: 5px;*/
    margin-right: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #414040;
    box-sizing: border-box;
    background-color: #ffffff;
    min-height: 62px;
}

.media>.pull-left {
    padding-right: 8px;
}

.inusrance-pricing {
    margin-top: 10px;
}

.insurance-desc .fa,
.inusrance-pricing .fa {
    color: #999;
    font-size: 12px;
}

.insurance-desc>li {
    border-left: 1px solid #c1c1c1;
    padding: 0px 8px;
    border-right: none;
    background: transparent;
    color: #6c6b6b;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
}

.insurance-desc>li:first-child {
    border-left: none;
}

.insurance-desc>li:first-child span {
    color: #333333;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
}

.inusrance-pricing>li {
    color: #333333;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    padding: 0px 8px;
}

.priorty-body {
    padding: 10px 8px;
}

.priorty-body .close {
    float: right;
    font-size: 2.5em;
    font-weight: 300;
    line-height: 30px;
    color: #999;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=90);
    opacity: .9;
    top: -5px;
    position: absolute;
    right: 10px;
}

.priorty-badge {
    position: absolute;
    /* top: 100%; */
    bottom: -8px;
    z-index: 999;
    left: -8px;
    border-radius: 50%;
    background-color: #414040;
    width: 27px;
    height: 27px;
    line-height: 20px;
    text-align: center;
}

.priorty-corporate-label {
    background-color: #1da60d;
    color: #ffffff;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    min-width: 70px;
    float: left;
}

.priority-selection .submit-btn {
    float: right;
    padding: 10px 5px;
}

.priority-selection .request-btn {
    width: 100%;
    float: right;
}

.submit-btn button,
.submit-btn button:hover,
.submit-btn button:active,
.submit-btn button:active:focus,
.submit-btn button:focus {
    background: #e51636 !important;
    color: #fff !important;
    border: 1px solid #e51636;
    border-radius: 0;
    padding: 10px 30px;
    text-transform: uppercase;
    outline: none !important;
    outline: 0 !important;
    box-shadow: none;
}

/* Pagination css */
.pagination {
    margin: 8px 0;
    float: right;
}

.pagination>li>a {
    position: relative;
    float: left;
    padding: 6px 10px;
    margin-left: 8px;
    line-height: 15px;
    color: #000;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 100%;
    background-color: rgba(148, 153, 155, 0.3);
    width: 30px;
    height: 30px;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-left: 0;
    border-radius: 100%;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-top-right-radius: 4px;
    border-radius: 100%;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #e51636;
    border-color: #e51636;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    z-index: 3;
    color: #e51636;
    background-color: #eee;
    border-color: #ddd;
}


/*******************************/

/* Media Query Starts */
@media screen and (max-width:1280px) {}

@media screen and (max-width:1199px) {}

@media screen and (max-width:1024px) {
    .policy-img {
        height: 220px;
    }

    .insu-policy-description h2 {
        font-size: 16px;
        line-height: 18px;
    }

    .short-desc {
        padding: 5px 10px 5px 0px;
        width: 75%;
        float: left;
        color: #666666;
        font-size: 13px;
        line-height: 16px;
        font-weight: 400;
        text-align: left;
        margin-bottom: 0;
    }
}

@media (max-width: 1023px) {}

@media screen and (max-width:991px) {}

@media screen and (max-width:767px) {}

@media screen and (max-width:480px) {}

@media screen and (max-width: 320px) {}