/*Bottom section Css Starts*/

.bottom-section {
    background-color: #2d2d2d;
    padding: 30px 0px;
}

.get-in-touch {
    border-right: 1px solid #414141;
}

.get-in-touch p {
    color: #a1a1a1;
    font-size: 13px;
    font-family: inherit;
}

.get-in-touch a.mail-link {
    color: #e51737;
    margin-left: 20px;
}

.get-in-touch .social-link {
    color: #a1a1a1;
    margin-left: 20px;
    font-size: 13px;
}

.footer-widget h4 {
    font-family: inherit;
    color: #e51737;
    font-size: 22px;
    font-weight: 400;
    line-height: 21.2px;
    margin-bottom: 15px;
}

.footer-widget .shout-at {
    margin-top: 40px;
}

.get-in-touch address {
    font-family: inherit;
    color: #a1a1a1;
    font-size: 13px;
    font-weight: 400;
    line-height: 21.2px;
    text-align: left;
    min-height: 100px;
    margin-left: 20px;
}

.get-in-touch span {
    margin-left: 20px;
}

.get-in-touch .venue:before,
.get-in-touch .shout-at:before,
.mail-text:before,
.twitter-icon:before {
    font: normal normal normal 14px/18px mahindra;
    text-rendering: auto;
    position: absolute;
    color: #a1a1a1;
    font-weight: 400;
}

.get-in-touch .venue:before {
    content: "\72";
}

.get-in-touch .icon-icn_map:before {
    content: "\e934";
}

.get-in-touch .shout-at:before {
    content: "\6a";
}

.mail-text:before {
    content: "\71";
}

.twitter-icon:before {
    content: "\75";
    color: #2aa9e0;
}

.quick-links ul li a {
    font-family: Prompt;
    color: #a1a1a1;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
}


/*Bottom section Css Ends*/

/*Footer Code*/

.footer-wrap {
    position: relative;
    background: #2d2d2d;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #414141;
}

.footer-wrap .footer-text {
    color: #a1a1a1;
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.5px;
    padding: 12px 0;
}

.footer-wrap a {
    color: #e51636;
    font-weight: 400;
}