/* 
    Created On : 04-03-2016
    Created By : NimishKumar Bhardwaj
*/

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import 'https://fonts.googleapis.com/css?family=Prompt:300,400,500,600,700';
html {
    height: 100%;
    font-size: 100%;
}

body {
    position: relative;
    min-height: 100%;
    /* padding:0 0 36px 0; */
    font-family: 'Prompt', sans-serif;
    /*color: #fff;*/
    font-size: 14px;
    font-weight: 400;
    overflow: auto !important;
}
@font-face {
    font-family: 'icomoon';
    src: url('./assets/fonts/icomoon.eot?1ln6hl');
    src: url('./assets/fonts/icomoon.eot?1ln6hl#iefix') format('embedded-opentype'), url('./assets/fonts/icomoon.ttf?1ln6hl') format('truetype'), url('./assets/fonts/icomoon.woff?1ln6hl') format('woff'), url('./assets/fonts/icomoon.svg?1ln6hl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-icn_accomodation:before {
    content: "\e928";
}
.icon-Cancel:before {
    content: "\e915";
}
.icon-icn_home:before {
    content: "\e932";
}
.icon-icn_mail:before {
    content: "\e933";
}
.icon-icn_home:before {
    content: "\e932";
}
.icon-icn_mail:before {
    content: "\e933";
}
.icon-menu:before {
    content: "\e93c";
}
.icons-white {
    color: #fff;
    width: 24px;
    height: 23px;
    margin-right: 10px;
    font-size: 14px;
}

.icon {
    color: #999999;
    width: 24px;
    height: 23px;
    font-size: 14px;
}

.icon-mh-1x {
    font-size: 16px;
}

.icon-mh-2x {
    font-size: 18px;
}

.icon-mh-3x {
    font-size: 20px;
}

.icon-mh-4x {
    font-size: 22px;
}

.icon-mh-5x {
    font-size: 24px;
}

.icon-mh-6x {
    font-size: 28px;
}

a,
li {
    box-sizing: border-box;
}

a {
    outline: none;
    outline: 0;
}

a:focus,
a:hover {
    outline: none;
    text-decoration: none;
}

img {
    max-width: 100%;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

:focus {
    outline: none !important;
}

p {
    margin: 0 0 10px;
}

.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.no-padding-right {
    padding-right: 0px !important;
}

.no-padding-left {
    padding-left: 0px !important;
}

.hr-line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #d1d3d4;
}

.dark-pink {
    color: #e51737;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.padding-top{
    padding-top: 100px !important;
}